#---------------------------------------------------------------------
# Example configuration for a possible web application.  See the
# full configuration options online.
#
#   http://haproxy.1wt.eu/download/1.4/doc/configuration.txt
#
#---------------------------------------------------------------------

#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
    
# to have these messages end up in /var/log/haproxy.log you will
    # need to:
    #
    # 1) configure syslog to accept network log events.  This is done
    #    by adding the '-r' option to the SYSLOGD_OPTIONS in
    #    /etc/sysconfig/syslog
    #
    # 2) configure local2 events to go to the /var/log/haproxy.log
    #   file. A line like the following can be added to
    #   /etc/sysconfig/syslog
    #
    #    local2.*                       /var/log/haproxy.log
    #

global
    log         127.0.0.1 local2
    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     {{ global_max_connections }}
    user        {{ global_user_name }}
    group       {{ global_group_name }}
    daemon
    #tune.ssl.default-df-param 2048
    # ----- This line is creating an issue while starting so commented it
    # ----- What is the purpose of this line
    # turn on stats unix socket
    #stats socket /var/lib/haproxy/stats

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    {{ default_mode }}
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option http-server-close
    option                  redispatch
    retries                 {{ number_retries }}
    timeout http-request    {{ timeout_http_request }}
    timeout queue           {{ timeout_queue }}
    timeout connect         {{ timeout_connect }}
    timeout client          {{ timeout_client }}
    timeout server          {{ timeout_server }}
    timeout http-keep-alive {{ timeout_http_keep_alive}}
    timeout check           {{ timeout_check }}
    maxconn                 {{ default_max_connections }}

#---------------------------------------------------------------------
# main frontend which proxys to the http backends
#---------------------------------------------------------------------

frontend {{ frontend_host_name_1 }} 
    bind *:{{ frontend_bind_port_1 }}
    bind *:{{ frontend_bind_ssl_1 }} ssl crt {{ server_pem_path }} 
    mode {{ frontend_mode_type_1 }}
    acl url_static path_beg /static
    use_backend {{ backend_host_name_2 }} if url_static
    default_backend {{ backend_host_name_1 }}

#---------------------------------------------------------------------
# round robin balancing between the various backends
#---------------------------------------------------------------------

backend {{ backend_host_name_1 }}
   server {{ backend_server_name_1 }} {{ backend_ip_addr_1 }}:{{ backend_port_1 }}

backend {{ backend_host_name_2 }}
   server {{ backend_server_name_2 }} {{ backend_ip_addr_2 }}:{{ backend_port_2 }}


#---------------------------------------------------------------------
# URI DETAILS
#---------------------------------------------------------------------

listen stats *:{{ uri_port }}
    stats enable
    stats uri /stats
    stats realm Haproxy\ Statistics 
    stats hide-version
    stats auth {{ uri_username }}:{{ uri_password }}
